/* Fonte Padrão Textos em gerais */

@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/Inter/Inter_18pt-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter_18pt-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter_18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter_18pt-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter_18pt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter_18pt-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter_18pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter_18pt-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
