@import 'tailwindcss';

.nav {
  @apply fixed top-0 right-0 h-screen w-54 overflow-x-hidden overflow-y-auto;
}

.days-list {
  @apply float-right flex h-full w-48 flex-col py-2 transition duration-200;
}

.day {
  @apply cursor-pointer border-t border-t-gray-300/30 px-2 py-4 transition-all duration-200 first:border-t-0;
}

.day--active {
  @apply relative z-1 -translate-y-1 scale-[1.06] rounded-l-lg backdrop-brightness-125;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.day-date {
  @apply flex flex-col items-center;
  font-family: var(--font-playfair);

  .title {
    @apply text-2xl/5 font-bold;
  }

  .subtitle {
    @apply font-bold;
    color: var(--color-txmuted);
  }
}

.daytime-weather {
  @apply flex items-center justify-center;

  .icon {
    @apply flex w-1/2 items-center justify-center;

    img {
      @apply w-full;
      max-width: 70px;
    }
  }

  .title {
    @apply flex w-1/2 flex-col text-center text-2xl/6;
    font-family: var(--font-oswald);
  }
}
